.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /*This is not something we would want to change in size, it should be kept static*/
    height: auto;
  }
  
  .logo {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
  }

  .ad-container{
    border-style: double;
    border-color: black;
    border-width: 10px;
    box-shadow: 7px 5px black;
    object-fit: contain;
    width: 70%;
    height: 20vh;
  }

  .ad{
    max-height: 100%;
    max-width: 100%;
  }
  .pfp-container{
    width: 25%;
    border-style:solid;
    border-radius: 4px;
    border-width: 3px;
    box-shadow: 5px 5px;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
    transition: 0.3s;
    cursor: pointer;
  }

  .pfp-img{
    width: 100%;
  }
  .pfp-container:hover{
    border-radius: 20px;
  }

  .search{
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 4px;
    width: 60%;
    box-shadow: 5px 4px;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  