.wrapper {
    border-style: double;
    border-color: black;
    border-width: 10px;
    border-radius: 5px;
    box-shadow: 7px 7px black;
    width: 60%;
    padding: 1%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-button-container{
    width: 50%;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.main-button{
    width: 50%;
    height: 5vh;
    border-style: double;
    border-color: black;
    border-width: 8px;
    border-radius: 5px;
    box-shadow: 5px 7px black;
    background-color: rgb(243, 243, 243);
    cursor: pointer;
    transition: 0.3s;
}

.main-button:hover{
    border-radius: 20px;
    transition: 0.3s;
}

.input[type=file]{
    display: none;
}
.main-button:active{
    transition: 0.03s;
    box-shadow: 0px 0px black;
    margin-left: 3px;
    margin-top: 3px;
}

.user-type-container{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.user-button{
    width: 40%;
}
.fake-link {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.input-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    overflow: hidden;
}

input{
    width: 90%;
}